<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>כאן נעשה דיאטה</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>

        #c li {
            float: right;
        }

        a {
            font-size: 15px;
        }

        .navbar-nav {
            flex-direction: row;
        }
    </style>

    <script>
        function GetData() {
        var User = "@HttpContext.Current.User.Identity.Name";
            var Url = 'http://localhost:3000/getdata/getDataForUser/'+User
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200){
                var myArr = JSON.parse(this.responseText);
                switch('function') {
                    default:
                        Test(myArr);
                    case typeof Test1:
                        Test1(myArr);
                        break;
                    case typeof Test2:
                        Test2(myArr);
                        break;
                    case typeof Test3:
                        Test3(myArr);
                        break;
                }
            }
        };
        xml.open('GET', Url, true)
        xml.send();
    }
    </script>



</head>
<body dir="rtl">
    <div style="margin-top:10px" class="navbar-fixed-top">
        <div class="container">
            <nav id="c" class="navbar navbar-expand-md navbar-inverse bg-light navbar-dark">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img class="navbar-brand" src="~/Images/הורדה.jfif" alt="logo" style="height: 50px" />
                </div>
                <div id="myNavbar" class="collapse navbar-collapse">
                    <ul style="float:right" class="nav navbar-nav">
                        <li class="nav-item">
                            @Html.ActionLink("הפרופיל שלי", "MyProfile")
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("דף הבית", "Home", "Home")
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("הכנסת נתונים יומיים", "EntryData")
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("סיכום שבועי", "WeeklySummary")
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">מדע הנתונים</a>
                            <ul class="dropdown-menu text-right">
                                <li><a class="dropdown-item" href="@Url.Action("Recipe")">שירותי מידע ו API</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("MachineLearning")">מכונה לומדת וסטיסטיקה</a></li>
                            </ul>
                        </li>
                        @*<li class="nav-item">
                            @Html.ActionLink("נתונים סטיסטים ומכונה לומדת", "MachineLearning")
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("שירותי מידע ו API", "Recipe")
                        </li>*@
                        <li class="nav-item">
                            @Html.ActionLink("צור קשר", "Contact")
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="text-left">

                @if (User.Identity.IsAuthenticated)
                {
                    <div>
                        <h3>שלום @User.Identity.Name</h3>
                        @Html.ActionLink("הפרופיל שלי", "MyProfile")
                        <br />
                        @Html.ActionLink("יציאה", "SignOut", "User")

                    </div>
                }
            </div>

        </div>
    </div>



    <div style="margin-bottom:50px" class="container body-content">
        @RenderBody()
        <hr style="margin-top:70px" />
            <!-- Footer -->
            <footer class="bg-light text-center text-lg-start">
                <!-- Grid container -->
                <div class="container p-4">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Before finishing the page</h5>

                            <p>
                                אנחנו מנסים לתת את השירות הנוח ביותר בדגש על מקצועיות, חדשנות, ואליפות,
                                מקווים שאתה מנצל את מקסימום הטכנולוגיה שאנו מספקים,
                                אגב טיפ חשוב תמיד כשאתה רוצה להשיג משהו תציב לעצמך מטרות ברורות וקצרות טווח וככה לאט לאט תתקדם,
                                לאט אבל בטוח,
                                <br />
                                בכל מקרה תמיד נשמח לשמוע ממך.
                            </p>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <h4 class="text-uppercase mb-0">שאר האתר</h4>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="@Url.Action("Home")" class="text-dark">דף הבית</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Contact")" class="text-dark">צור קשר</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("MyProfile")" class="text-dark">הפרופיל שלי</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SignOut", "User")" class="text-dark">יציאה מהאתר</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <h4 class="text-uppercase">נתונים</h4>

                            <ul class="list-unstyled mb-0">
                              
                                <li>
                                    <a href="@Url.Action("MachineLearning")" class="text-dark">מכונה לומדת וסטיסטיקה</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("WeeklySummary")" class="text-dark">סיכום שבועי</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("EntryData")" class="text-dark">הכנסת נתון יומי</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Recipe")" class="text-dark">שירותי מידע ו API</a>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Grid container -->
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                   כל הזכויות שמורות © :
                    <a class="text-dark" href="https://github.com/YehudaShmaria">Yehuda The Jew</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

 
</body>
</html>

